@media (max-width: 768px) {
    #divinner3 {
      display: grid;
    }
  }
  /* Bug.css */
  .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1a1a1a; /* Dark background color */
    color: #ffffff; /* Text color */
    padding: 20px;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1); /* Soft box shadow */
    display: none;
  }
  
  .popup.visible {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .popup-content {
    text-align: center;
  }
  
  .popup p {
    font-size: 18px;
    margin: 0;
  }
  
  /* Add transitions for a smooth appearance */
  .popup, .popup.visible {
    transition: all 0.5s ease-in-out;
  }