html, body {
  overflow-x: hidden;
}

body {
  background-color: #101010;
}

  .rec-arrow {
    border-color: white;
    background-color: black !important;
    color: white !important;
    box-shadow: white !important;
    font-size: x-large !important;
}

.rec-arrow:hover:not(:disabled) {
    background-color: white!important;
    color: black!important;
}

.animation, .animation_layer {
	height: 1000px;
}

.animation {
  display: block;
	position: relative;
	z-index: 10;
}

.animation_layer {
	background-position: bottom center;
	background-size: auto 1038px;
	background-repeat: repeat-x;
	width: 100%;
	position: absolute;
}
.animation_layer.parallax {
	position: fixed;
}

#textblock {
  /* background-color: #040825;
  background-image: linear-gradient(to bottom, #040825 , #101010); */
  /* background-color:#040825; */
  background-image:
  radial-gradient(white, rgba(255,255,255,.2) 1px, transparent 10px),
  radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 12px),
  radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 30px),
  radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 15px),
  linear-gradient(to bottom, #040825 , #101010);
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px, 100vw 350vh;
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

#textblock-container {
  width: 50%;
  margin: 0 auto;
  padding-top: 70px;
}



#textblock-devsense {
  text-decoration: none;
  color: #ffaf1b;
  font-size: 15px;
  font-weight: 600;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #040825;
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ad6cb688;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #E1ABE8;
}