body {
  overflow-x: hidden; /* Hide horizontal scrollbar */
  background-color: #101010;
}

  .rec-arrow {
    border-color: white;
    background-color: black !important;
    color: white !important;
    box-shadow: white !important;
    font-size: x-large !important;
}

.rec-arrow:hover:not(:disabled) {
    background-color: white!important;
    color: black!important;
}